!app/cache/.gitkeep
*.bak
*.iml
*~
.idea
/bower.json
/app/config/parameters.yml
/app/config/parameters_hash.yml
/app/config/settings
/app/coverage
/app/data
/app/logs
/app/webscripts
/vendor
/web/bundles
/web/assets
/web/res/cached
/web/res/img/sprites
/web/res/js
/web/uploads
app/bin
app/cache
src/Vendor/*
bower_components
node_modules
/werkint_cms_core_item.sql